.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hexboard_container {
  min-width: 900px;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px black;
  background-color: rgb(199, 192, 192);
}

.hexboard {
  margin-left: 3px;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90px;
  height: 90px;
  z-index: 0;
  margin-left: 5px;
  margin-top: -8px;
}

.circle1P {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: white;
}

.circle2P {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: black;
}

.turn1P_circle:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 0px 10px rgb(48, 79, 216);
}

.turn2P_circle:hover {
  background-color: rgb(10, 10, 10);
  box-shadow: 0px 0px 10px rgb(48, 79, 216);
}

.turn1P_sCircle:hover {
  box-shadow: 0px 0px 10px rgb(48, 79, 216);
}

.turn2P_sCircle:hover {
  box-shadow: 0px 0px 10px rgb(48, 79, 216);
}

.small_circle {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgba(48, 79, 216, 0.35);
}

.score_container {
  position: absolute;
  margin-top: -16px;
}

.side_by_side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_score {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.circle_number {
  font-size: 42px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.hexagon {
  transform: rotate(30deg);
  color: rgb(139, 135, 135);
  display: flex;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(173, 169, 169);
}