.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hexboard-container {
  min-width: 940px;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #EBE79B;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90px;
  height: 90px;
  z-index: 0;
  margin-left: 5px;
  margin-top: -8px;
}

.circle {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.circle_score {
  z-index: 1;
  margin-left: -30px;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.circle_number {
  z-index: 2;
  position: absolute;
  color: black;
  font-size: 42px;
  margin-left: 35px;
}

.title {
  color: #F58900;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;;
}

.hexagon {
  transform: rotate(30deg);
  display: flex;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}